<div class="row justify-content-center">
  <div class="col-lg-12 col-12">
    <div class="text-center">
      <img src="assets/banner/banner.jpg"  class="banner" alt="..." />
    </div>
  </div>
</div>






<!-- desde aki -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row justify-content-center">
        <div class="col-lg-9 col-10">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-10 centrar">
              <img src="assets/pagos/place2.png" class="w-75  my-2" alt="..." />
            </div>
            <div class="col-lg-4 col-10">
              <div class="centrar">
                <img src="assets/pagos/dinners.png" class="w-75 my-2" alt="..." />
              </div>
            </div>
            <div class="col-lg-4 col-10">
              <div class="centrar">
                <img src="assets/pagos/titanium.jpg" class="w-75 my-2" alt="..." />
              </div>
            </div>
           
          </div>
        </div>

      </div>
     
    </div>
    <div class="carousel-item">
      <div class="row justify-content-center">
        <div class="col-lg-9 col-10">

          <div class="row justify-content-center">
      
            <div class="col-lg-4 col-10">
              <div class="centrar">
                <img src="assets/pagos/disc.jpg" class="w-75 my-2" alt="..." />
              </div>
            </div>
            <div class="col-lg-4 col-10">
              <div class="centrar">
                <img src="assets/pagos/mastercard.jpg" class="w-75 my-2" alt="..." />
              </div>
            </div>
            <div class="col-lg-4 col-10">
              <div class="centrar">
                <img src="assets/pagos/visa.png" class="w-75 my-2" alt="..." />
              </div>
            </div>
          </div>
      </div>
     
    </div>
 
  </div>
</div>

<!-- hatra aka -->





<!-- <div class="row justify-content-center centrar">
  <div class="col-lg-9 col-10">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-10 centrar">
        <img src="assets/pagos/place2.png" class="w-75  my-2" alt="..." />
      </div>
      <div class="col-lg-4 col-10">
        <div class="centrar">
          <img src="assets/pagos/dinners.png" class="w-75 my-2" alt="..." />
        </div>
      </div>
      <div class="col-lg-4 col-10">
        <div class="centrar">
          <img src="assets/pagos/titanium.jpg" class="w-75 my-2" alt="..." />
        </div>
      </div>
      <div class="col-lg-4 col-10">
        <div class="centrar">
          <img src="assets/pagos/disc.jpg" class="w-75 my-2" alt="..." />
        </div>
      </div>
      <div class="col-lg-4 col-10">
        <div class="centrar">
          <img src="assets/pagos/mastercard.jpg" class="w-75 my-2" alt="..." />
        </div>
      </div>
      <div class="col-lg-4 col-10">
        <div class="centrar">
          <img src="assets/pagos/visa.png" class="w-75 my-2" alt="..." />
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row justify-content-center my-4">
  <div class="col-lg-4 col-10">
    <div class="card">
      <div class="card-head">
        <div class="row justify-content-center">
          <label for="floatingInput" class="mt-4 mx-4 text-center" style="font-size: x-large;"
            >Escoge el tipo de Documento</label
          >
        </div>
      </div>
      <div class="card-body text-justify">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-10">
            <div class="form-check my-4 ">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault2"
                checked
              />

              <label class="form-check-label" for="flexRadioDefault2">
                Cédula/Ruc
              </label>
            </div>
          </div>
          <div class="col-lg-4 col-10">
            <div class="form-check my-4 ">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault1"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                CIU
              </label>
            </div>
          </div>
          <div class="col-lg-4 col-10 ">
            <div class="form-check my-4 ">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault2"
                checked
              />
              <label class="form-check-label" for="flexRadioDefault2">
                Comprobante
              </label>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-10">
            <div class="input-group my-4">
              <span class="input-group-text" id="basic-addon1"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="0.75em"
                  viewBox="0 0 512 512"
                >
                  <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                  <path
                    d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                  />
                </svg>
              </span>
              <input
                type="text"
                class="form-control"
                placeholder=""
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>

          </div>

        </div>

    
      </div>
      <div class="card-footer">
        <div class="row justify-content-center my-4">
          <div class="col-lg-8 col-10 text-center">
            <button type="button" class="btn btn-lg btn-primary" disabled>
              Consultar Deuda
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
